doctype html
html( lang="fr" )
	head
		title Kach

		link( rel="stylesheet", href="/css/styles.css" )/

	body
		h1 Kach

		div#app.
			{{ message }}

		figure
			img( src="/assets/no.jpg", alt="Une photo de chat" )/
			// on sert les images depuis static du coup le chemin est bon comme ça

		script( src="/js/app.js" )
